<mat-card style="margin:10px">
    <mat-card-header>
        <mat-card-title>
            {{message}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button (click)="login()">Login</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form name="RegistrationForm" [formGroup]="regForm">
            <div class="FirstName">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>FirstName</mat-label>
                    <input formControlName="FirstName" matInput />
                </mat-form-field>
            </div>
            <div class="LastName">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>LastName</mat-label>
                    <input formControlName="LastName" maxlength="100" matInput />
                </mat-form-field>
            </div>
            <div class="EmailID">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>EmailID</mat-label>
                    <input formControlName="EmailID" maxlength="100" matInput />
                </mat-form-field>
            </div>
            <div class="Password">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="Password" maxlength="100" matInput />
                </mat-form-field>
            </div>
            <div class="EmployeeID">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>EmployeeID</mat-label>
                    <input formControlName="EmployeeID" maxlength="100" matInput />
                    <mat-error *ngIf="regForm.invalid">
                        Mandatory to fill
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="OrganizationName">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>OrganizationName</mat-label>
                    <input formControlName="OrganizationName" maxlength="100" matInput />
                </mat-form-field>
            </div>

            <button mat-raised-button (click)="onSubmit()" [disabled]="regForm.invalid" color="primary">Submit</button>
        </form>
    </mat-card-content>
</mat-card>