<div style="margin-bottom: 40px;">
    <div class='jumbotron'>
        <mat-card style="height: 15rem;">ads</mat-card>
    </div>
    <div class='loginLinks'>
        <mat-card style="height: 15rem;">login registration customers and companies</mat-card>


    </div>
    <!-- <mat-card style="background-image: radial-gradient(purple,magenta)">
        <div [ngClass]="{'grids':!revealed,'grids-disappear':revealed}">
            <div class="box1">
                <button style="width:100%;height:100%;opacity: 0;" (click)='reveal()'></button>
            </div>
            <div class="box2">
            </div>
            <div class="box3">
            </div>
            <div class="box4">
            </div>
            <div class="box5">

            </div>
            <div class="box6"></div>
            <div class="box7"></div>
            <div class="box8"><button style="width:100%;height:100%;opacity: 0;" (click)='reveal()'></button></div>
        </div>
    </mat-card> -->

    <div class='contactUs'>
        contact us greivances
    </div>
</div>