<!-- <div class='banner'> -->
<banner [img_video_src]='img_video_src' [isVideo]='isVideo' [heading]='heading' [subline]='subline'></banner>
<div style="display: flex;justify-content: center;">
    <button class='Arrow' (click)="button(false)">
        <div class='circleBig'></div>
        <div class='circleSmall'></div>

    </button>
    <div class='circleCenter'></div>
    <button class="Arrow" (click)="button(true)">
        <div class='circleSmall'></div>
        <div class='circleBig'></div>

    </button>
</div>

<!-- </div> -->