@import '../../css-styles/fadeIn.scss';

.nav-bar {
    background-color     : black;
    color                : white;
    display              : grid;
    padding-bottom       : 1rem;
    grid-template-columns: 1fr 1fr;


}

.nav-bar-left {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tabs {
    padding        : 10px 5%;
    display        : flex;
    justify-content: center;
}